* {
  box-sizing: border-box;
}

html,
body {
  background: rgb(34, 34, 34);
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  cursor: default;
}

body {
  font-weight: 400;
}

.navbar {
  /* border: 2px solid red; */
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar > * {
  margin: 0 10px;
  color: #fff;
}

.timeRemaining {
  display: flex;
}

.timeRemaining > input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 40px;
}

button {
  /* font-family: 'Press Start 2P', cursive; */
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  border: none;
  background: #00b800;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
  color: #fff;
  font-size: 1.1rem;
}

button:hover {
  background: #00ff00;
  /* color: #fff; */
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}

h1 {
  font-size: 20px;
  text-align: center;
}

textarea {
  /* font-family: 'Press Start 2P', cursive; */
  border: 3px solid black;
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  max-width: 600px;
  background: #c7c7c7;
  padding: 10px;
  font-size: 1.1rem;
}

.game-section,
.about-section,
.contact-section {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
